* {
    margin: 0;
    padding: 0;
}
  
.app {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.app_header {
    background-color: #222;
    color: white;
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
  
h2 {
    font-size: 2em;
    margin: 20px 0;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}
  
button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
button:hover {
    background-color: #218838;
}
  
.curiosidade {
    font-size: 1.5em;
    margin-top: 20px;
    font-style: italic;
    color: #f7b731;
}
  
.time_info {
    margin-top: 20px;
}
  
strong {
    font-weight: bold;
}
  